# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# root
.DS_Store
/node_modules
/.pnp
.pnp.js
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock
/*.env
/*.code-workspace
typechain

# solidity
src/solidity/artifacts
src/solidity/cache
src/solidity/coverage
src/solidity/coverage.json

# client
src/client/.env
src/client/build
src/client/contractsData/31337
src/client/contractsData/1337

# api
src/api/.env