.dropzone{
  border: 2px dashed rgba(255,255,255,0.2);
  border-radius: 10px;
  padding: 50px 0;
  text-align: center;
  text-transform: uppercase;
  color: rgba(255,255,255,0.6);
}
.dropzone.active{
  border-color:#fff;
}
.file{
  text-decoration:none;
  color: rgba(255,255,255,0.8);
  display:block;
  background-color: #41415d;
  border-radius: 10px;
  margin-top: 20px;
  padding: 10px;
  position:relative;
  overflow: hidden;
}
.file .progress {
  background-color: rgba(26, 97, 44, 0.8);
  position: absolute;
  inset:0;
  width:0;
  height: 15%;
  top: 85%;
  text-align: center;
}
.file .progress.done{
  width: 100%;
}