# general
/*.env
/.DS_Store
/*.code-workspace

/node_modules

/package-lock.json
/npm-debug.log*

/yarn.lock
/yarn-debug.log*
/yarn-error.log*

/.pnp
/.pnp.js


# Hardhat
/typechain

/artifacts
/cache 
/coverage
/coverage.json

# build
/data/1337
/data/31337